 <div id="panel" class="panel">
        <div id="panel-container" class="panel_container">
          <div id="panel-icon" class="panel_icon">
            <i class="fa-regular fa-circle-question"></i>
          </div>
          <div id="panel-text" class="panel_text">
            Do you want restore all tabs from last session?
          </div>
          <div class="buttons">
            <button id="panel-close" class="btn btn-cancel">Cancel</button>
            <button id="panel-confirm" class="btn btn-agree">Agree</button>
          </div>
        </div>
      </div>