<div id="navigation-container">
                <button id="back-button" class="nav-button" title="Zpět">


            <div id="navigation-container">
                <button id="back-button" class="nav-button" title="Zpět">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <button id="forward-button" class="nav-button" title="Vpřed">
                    <i class="fas fa-arrow-right"></i>
                </button>
                <button id="reload-button" class="nav-button" title="Obnovit">
                    <i class="fas fa-redo"></i>
                </button>
                <button id="home-button" class="nav-button" title="Domů">
                    <i class="fas fa-home"></i>
                </button>
                <button id="bookmark-button" class="nav-button" title="Záložka">
                    <i class="fas fa-bookmark"></i>
                </button>
            </div>
            
    
            
           <div id="tabs-container" class="drag-enabled">
                <!-- Záložky budou generovány dynamicky -->
    
        </div>
            
            <div class="titlebar-spacer"></div>

            <div id="action-buttons-container">
                <button id="new-tab-button" class="action-button" title="Nová záložka">
                    <i class="fas fa-plus"></i>
                </button>
                 <button id="search-button" style="display: none;" class="action-button" title="Hledat">
                    <i class="fas fa-search"></i>
                </button> 
                <button id="theme-toggle-button" class="action-button" title="Přepnout motiv">
                    <i class="fas fa-moon"></i>
                </button>
                 <button id="history-button" class="action-button" title="Historie">
                    <i class="fas fa-history"></i>
                </button>

                  <button id="devtools-button" class="action-button" title="DevTools">
                    <i class="fas fa-tools "></i>
                </button>
               
                <button id="settings-button" class="action-button" data-tooltip="Nastavení">
                    <i class="fas fa-cog"></i>
                </button>

              
               
            </div>

           
                <button id="hamburger-menu" class="action-button" title="Menu" style="display: none;">
    <i class="fas fa-bars"></i>
</button>